body {
  background-color: #FFFFFF;
}

h1 {
  color: #OOOOOO;
  text-align: left;
  font-size: 32ox;
}

h2 {
  color: #OOOOOO;
  text-align: left;
  font-size: 26ox;
}

p {
  font-family: futura;
  font-size: 20px;
}
